// Color palette
$dark-blue: #001C4C;
$light-blue: #4581E5;
$green: #48C5C9; 
$peach: #F37678;
$light-gray: #F7F7F7;

//Font family 
$ff-merri: 'Merriweather', serif;
$ff-poppins: 'Poppins', sans-serif;

//Font size 
$fs-menu: 24px;
$fs-menu-mobile: 18px;
$fs-banner-md: 40px;
$fs-banner-lg: 46px;
$fs-section-title: 36px;
$fs-content-text-lg: 30px;
$fs-content-text-md: 26px;  
$fs-content-text-sm: 18px; 
$fs-btn: 30px;    
