@import "../global/variables.scss";

.overview{
    display: flex;
    .img{
        width: 55%;
        .img-project{
            width: 670px;
            height: 600px;
            border-radius: 8px;
        }
        .buttons{
            display: flex;
            width: 85%;
            justify-content: space-between;
            margin: 25px 0 25px 0;
            .img-btn{
                margin-left: 13px;
            }
        }
    }
    .text-overview{
        width: 45%;
    }
}
