@import "../global/variables.scss";

.text{
    margin-top: 100px;
    .content{
        display: flex;
        .title-project{
            font-family: $ff-merri;
            color: $dark-blue;
            font-size: 50px;
            font-weight: 300;
            width: 50%;
            margin-bottom: 200px;
            @media(max-width: 630px){
                width: 90%;
                text-align: center;
                margin-bottom: 100px;
            }
            @media(max-width: 450px){
                font-size: 40px;
            }
        }
        .text-project{
            width: 50%;
            margin-bottom: 200px;
            @media(max-width: 630px){
                width: 90%;
                margin-bottom: 100px;
            }
        }
        @media(max-width: 630px){
            flex-direction: column;
            align-items: center;
        }
    }
}