@import "../global/variables.scss";

.about{
    padding-bottom: 40%;
    .content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .box-photo{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .btn{
                margin-top: 20px;
                display: flex;
                .button{
                    margin-right: 20px;
                    @media(max-width: 600px){
                        margin: 0 0 20px 0;
                    }
                }
                @media(max-width: 600px){
                    flex-direction: column;
                }
            }
        }
        .box-text{
            width: 50%;
            @media(max-width: 1200px){
                margin-top: 50px;
            }
            @media(max-width: 700px){
                .p-lg{
                    font-size: 20px;
                }
            }
        }
        @media(max-width: 1200px){
            flex-direction: column;
        }
    }
}

