@import "../global/variables.scss";

body{
    background: $light-gray;
}
.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 180px;
    background: $light-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    @media(max-width: 700px){
        height: 110px;
    }
}
.header .container{
    width: 100%;
    height: 180px;
    background: $light-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    .logo{
        font-family: $ff-merri;
        font-size: 40px;
        font-weight: 600;
        background-image: linear-gradient(to right, $green, $light-blue);
        color: black;
        background-clip: text;
        -webkit-background-clip: text;
        /* Adicionado: */
        -webkit-text-fill-color: transparent;
        padding-left: 25px;
    }
    .menu{
        .list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 25px;
            :not(:last-child){
                padding-right: 60px;
            }
            &_item{
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 400;
                &_link{
                    color: $dark-blue;
                    &:hover{
                        color: $peach;
                    }
                }
            }
        }
        @media (max-width: 1000px) {
            display: none;
        }
    }
    .menu-toggle{
        position: absolute;
        right: 5%;
        display: none;
        width: 40px;
        height: 40px;
        .toggle{
            width: 25px;
            height: 4px;
            background: $light-blue;
            position: relative;
            transition: .5s ease-in-out;
        }
        .toggle::before{
            position: absolute;
            content: "";
            width: 15px;
            height: 4px;
            background: $light-blue;
            top: 9px;
            right: 0;
            transition: .5s ease-in-out;
        }
        .toggle::after{
            position: absolute;
            content: "";
            width: 25px;
            height: 4px;
            background: $light-blue;
            bottom: 9px;
            transition: .5s ease-in-out;
        }
        @media (max-width: 1000px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .menu-toggle.active{
        position: absolute;
        right: 5%;
        display: none;
        width: 40px;
        height: 40px;
        .toggle{
            width: 25px;
            height: 4px;
            background: $light-blue;
            position: relative;
            transform: rotateZ(45deg);
            transition: .5s ease-in-out;
        }
        .toggle::before{
            position: absolute;
            content: "";
            width: 25px;
            height: 4px;
            background: $light-blue;
            top: 0;
            right: 0;
            transform: rotateZ(90deg);
            transition: .5s ease-in-out;
        }
        .toggle::after{
            position: absolute;
            content: "";
            width: 25px;
            height: 4px;
            background: $light-blue;
            bottom: 0;
            transform: rotateZ(90deg);
            transition: .5s ease-in-out;
        }
        @media (max-width: 1000px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.menu-mobile{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #001c4c00;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    transition: .8s ease-in-out;
    z-index: 1;
    &-list{
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &-item{
            text-transform: uppercase;
            font-weight: 500;
            &-link{
                color: $light-gray;
            }
        }
    }
}
.menu-mobile.active{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #001C4C;
    position: absolute;
    top: 0;
    transform: translateY(0);
    transition: .8s ease-in-out;
    z-index: 1;
    &-list{
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &-item{
            text-transform: uppercase;
            font-weight: 500;
            &-link{
                color: $light-gray;
            }
        }
    }
}