.knowledge{
    padding-bottom: 15%;
    .content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .text{

        }
        .squares{
            display: flex;
            flex-wrap: wrap;
            width: 500px;
            &-img{
                margin-right: 20px;
            }
        }
    }
}