@import "../global/variables.scss";

.button{
    width: 170px;
    height: 55px;
    background: $dark-blue;
    color: $light-gray;
    border-radius: 8px;
    font-size: $fs-btn;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    @media(max-width: 800px){
        width: 140px;
        height: 40px;
        font-size: 25px;
    }
}
.button-light{
    width: 170px;
    height: 55px;
    background: $light-blue;
    color: $light-gray;
    border-radius: 8px;
    font-size: $fs-btn;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    @media(max-width: 1200px){
        align-self: center;
        margin: 0 auto;
    }
    @media(max-width: 800px){
        width: 140px;
        height: 40px;
        font-size: 25px;
    }
}